@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #0c0300;
    --secondary-color: #bcc0f5;
    --accent-color: #e74c3c;
  }
.form{
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form input, .form select, .form label, .form button{
    margin: 1vh;
    font-family: 'Montserrat', sans-serif;
}
.form label{
    font-weight: 600;
}
form input, .form select{
    font-size: 16px;
    height: 3vh;
    width: 200px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}
.form button{
    width: 100px;
    height: 3vh;
    background-color: var(--secondary-color);
}