.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0cfa1;
}

.leftSide,
.rightSide {
    border-radius: 5%;
    height: 100%;
    box-shadow: inset 0 0 0 1px black;
    background-color: #ff7f50;
}
.leftSide{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSide{
    margin-left: 1%;
    width: 64%;
}